.home {
    display: flex;
}

.home:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("./main-background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.page-title {
    position: absolute;
    font-size: 60px;
    color: blue;
    margin: 20px 0 0 20px
}

.home .element-container {
	position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 150px auto 0 auto;
}

.main-image {
    max-width: 100%;
    height: auto;
}

.rigth {
    color: white;
    width: 25%;
    margin: 0 0 0 20px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 2vw;
}

.btn-close-session {
    width: 150px;
    overflow: hidden;
}

.btn-close-session button {
/* button border fill */
    width: 100%;
    height: 40px;
    background: none;
    border: 4px solid white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

/* button Animated gradient */
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}

.btn-close-session button:hover {
/* button Animated gradient */
    background-position: right;
}

/* start button border fill */
.btn-close-session button::before,.btn-close-session button::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 9px;
    background: white;
    transform: skewX(50deg);
    transition: .4s linear;
}
.btn-close-session button::before{
    top: -4px;
    left: 10%;
}
.btn-close-session button::after{
    bottom: -4px;
    right: 10%;
}
.btn-close-session button:hover::before{
    left: 110%;
}
.btn-close-session button:hover::after{
    right: 110%;
}
/* end button border fill */

@media(max-width: 950px) {
    .home .element-container {
        flex-wrap: wrap;
    }
    .rigth {
        width: 800px;
        margin: 20px 0 0 0;
    }
    p {
        font-size: 3vw;
    }
}
